.car{
    height: 70%;
}
.belso{
    background-color: #000;
}
#logo{
    width: 70px;
    height: 50px;
}
a{
    text-decoration: none;
    color: #000;
}
span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #f9f9f9;
  }
  #kep{
    margin-top: 10px;
  }

  #reklam{
    height: 25vw;
    background-color: #000;
    }
  #arak{
    color: red;
    font-size: 22px;
    font-weight: bold;
  }
  #jb{
    background-image: url("kepek/124573.jpg") !important;
    text-align: center;
  }
  body p{
    text-align: center;
  }
  .bejel{
    float: left;
  }
  #gep{
    display: block;
    margin: 0 auto;
    width: 450px;
  }
  #tabla{
    padding-left: 60px;
    float: left;
  }
  #gomb{
    margin-left: 80%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .kartya{
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 6px -4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  }
  .kartya:hover{
    box-shadow: 0px 0px 51px -36px rgba(0, 0, 0, 0.1);
  }
  #nem{
    display: none;
  }