.car{
    height: 70%;
}
.belso{
    background-color: #000;
}
#logo{
    width: 70px;
    height: 50px;
}
a{
    text-decoration: none;
    color: #000;
}
span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #f9f9f9;
  }
  #kep{
    margin-top: 10px;
  }
  #arak{
    color: red;
    font-size: 22px;
    font-weight: bold;
  }